HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 100%; PADDING-TOP: 0px
}
.top-bg {
	BACKGROUND-IMAGE: url(../images/top_bg.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: right 50%
}
.navi-bg {
	BACKGROUND-IMAGE: url(../images/navi_bg.jpg); BACKGROUND-REPEAT: repeat-x
}
.navi-shd {
	BACKGROUND-IMAGE: url(../images/navi_shd_bg.jpg); BACKGROUND-REPEAT: repeat-x
}
.onof-bg {
	BACKGROUND-IMAGE: url(../images/main_onoff_bg.jpg); TEXT-ALIGN: left; BACKGROUND-REPEAT: repeat-y; VERTICAL-ALIGN: middle
}
.onof {
	BACKGROUND-IMAGE: url(../images/onoff_bu.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px; BORDER-TOP: medium none; CURSOR: hand; BORDER-RIGHT: medium none
}
.onof-f {
	BACKGROUND-IMAGE: url(../images/onoff_buf.jpg); BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 8px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 50px; BORDER-TOP: medium none; CURSOR: hand; BORDER-RIGHT: medium none
}
#quick {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/quickway.jpg); HEIGHT: 25px; PADDING-TOP: 0px
}
#quick LI {
	FLOAT: left
}
#quick LI A {
	WIDTH: 80px; DISPLAY: block; HEIGHT: 25px
}
#quick LI#3 A:hover {
	BACKGROUND: url(../images/quickway.jpg) 0px -25px
}
#active3 {
	BACKGROUND: url(../images/quickway.jpg) 0px -25px
}
#homebtn {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 176px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/navi_btn_home.jpg); HEIGHT: 25px; PADDING-TOP: 0px
}
#homebtn LI {
	FLOAT: left
}
#homebtn LI A {
	WIDTH: 176px; DISPLAY: block; HEIGHT: 25px
}
#homebtn LI#4 A:hover {
	BACKGROUND: url(../images/navi_btn_home.jpg) 0px -25px
}
#active4 {
	BACKGROUND: url(../images/navi_btn_home.jpg) 0px -25px
}
.menu-bg {
	BACKGROUND-IMAGE: url(../images/menu_foot.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.menu-item1 {
	PADDING-LEFT: 52px; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.menu-item2 {
	BACKGROUND-IMAGE: url(../images/menu_itembg.jpg); TEXT-ALIGN: left; PADDING-LEFT: 6px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; VERTICAL-ALIGN: top; PADDING-TOP: 6px; paddin-top: 6px
}
.menu-li {
	LIST-STYLE-POSITION: inside; LINE-HEIGHT: 19px; FLOAT: none; COLOR: #334d97; MARGIN-LEFT: 0px; CLEAR: none; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; LIST-STYLE-IMAGE: url(../images/arrow_li.gif)
}
A.itemli:link {
	COLOR: #2f4a85; TEXT-DECORATION: none
}
A.itemli:visited {
	COLOR: #2f4a85; TEXT-DECORATION: none
}
A.itemli:hover {
	COLOR: #3072f4; TEXT-DECORATION: none
}
A.itemli:active {
	COLOR: #3072f4; TEXT-DECORATION: none
}
A.itemT:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A.itemT:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A.itemT:hover {
	COLOR: #2f55aa; TEXT-DECORATION: none
}
A.itemT:active {
	COLOR: #2f55aa; TEXT-DECORATION: none
}
A.comm:link {
	COLOR: #2f4a85; TEXT-DECORATION: none
}
A.comm:visited {
	COLOR: #2f4a85; TEXT-DECORATION: none
}
A.comm:hover {
	COLOR: #2f55aa; TEXT-DECORATION: none
}
A.comm:active {
	COLOR: #3072f4; TEXT-DECORATION: none
}
.logon-intcont {
	POSITION: absolute; LIST-STYLE-TYPE: none; MARGIN-TOP: 245px; WIDTH: 210px; COLOR: #353e45; MARGIN-LEFT: 420px; FONT-SIZE: 12px
}
.logon-intcont-user {
	POSITION: absolute; LIST-STYLE-TYPE: none; COLOR: #353e45; FONT-SIZE: 12px
}
.logon-intcont-user LI {
	DISPLAY: block; HEIGHT: 28px
}
.logon-intcont LI {
	DISPLAY: block; HEIGHT: 24px
}
.intext1 {
	BORDER-BOTTOM: #a8bfec 1px groove; BORDER-LEFT: #a8bfec 1px groove; COLOR: #353e45; FONT-SIZE: 12px; BORDER-TOP: #a8bfec 1px groove; BORDER-RIGHT: #a8bfec 1px groove
}
.intext2 {
	BORDER-BOTTOM: #a8bfec 1px groove; BORDER-LEFT: #a8bfec 1px groove; COLOR: #353e45; FONT-SIZE: 12px; BORDER-TOP: #a8bfec 1px groove; BORDER-RIGHT: #a8bfec 1px groove
}
.btn-li {
	PADDING-LEFT: 54px; PADDING-TOP: 4px
}
.text-red {
	COLOR: red; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.main-bg {
	BACKGROUND-IMAGE: url(../images/main_bg.jpg); TEXT-ALIGN: center; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-REPEAT: repeat-x; VERTICAL-ALIGN: top; PADDING-TOP: 20px
}
.tab-th1 {
	BACKGROUND-IMAGE: url(../images/th1.jpg); TEXT-ALIGN: center; LETTER-SPACING: 1px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-POSITION: left top; HEIGHT: 22px; COLOR: #2f4a85; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.tab-td1 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; HEIGHT: 22px; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.tab-tfoot {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #e9f2ff; PADDING-RIGHT: 8px; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-TOP: #8fa9dc 1px solid; PADDING-TOP: 5px
}
.tab-td2 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #f2f7ff; PADDING-LEFT: 4px; HEIGHT: 22px; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.foot {
	TEXT-ALIGN: center; PADDING-BOTTOM: 20px; VERTICAL-ALIGN: middle; PADDING-TOP: 50px
}
.btn-r {
	BACKGROUND-IMAGE: url(../images/btn_red.jpg); BORDER-BOTTOM: #ff9999 1px ridge; BORDER-LEFT: #ff9999 1px ridge; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: repeat-x; COLOR: #42360c; FONT-SIZE: 12px; BORDER-TOP: #ff9999 1px ridge; CURSOR: hand; BORDER-RIGHT: #ff9999 1px ridge; PADDING-TOP: 2px
}
.btn-b {
	BACKGROUND-IMAGE: url(../images/btn_blue.jpg); BORDER-BOTTOM: #7faaff 1px ridge; BORDER-LEFT: #7faaff 1px ridge; BACKGROUND-COLOR: #fff4f2; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; BACKGROUND-REPEAT: repeat-x; COLOR: #253a68; FONT-SIZE: 12px; BORDER-TOP: #7faaff 1px ridge; CURSOR: hand; BORDER-RIGHT: #7faaff 1px ridge; PADDING-TOP: 2px
}
.error-top {
	BACKGROUND-IMAGE: url(../images/error_bg.jpg); PADDING-BOTTOM: 15px; LINE-HEIGHT: 160%; PADDING-LEFT: 138px; WIDTH: 520px; PADDING-RIGHT: 30px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 173px; COLOR: #333333; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 50px
}
.overtime-top {
	BACKGROUND-IMAGE: url(../images/overtime_bg.jpg); PADDING-BOTTOM: 15px; LINE-HEIGHT: 160%; PADDING-LEFT: 138px; WIDTH: 520px; PADDING-RIGHT: 30px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 173px; COLOR: #333333; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 50px
}
.error-end {
	BACKGROUND-IMAGE: url(../images/error_bgbottom.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 61px; VERTICAL-ALIGN: top
}
.text-home {
	TEXT-ALIGN: left; LINE-HEIGHT: 180%; TEXT-INDENT: 18pt; PADDING-RIGHT: 16px; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
.tab-center {
	BACKGROUND-IMAGE: url(../images/login_bg.gif); TEXT-ALIGN: center; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left top; VERTICAL-ALIGN: middle
}
.text-com {
	TEXT-ALIGN: right; COLOR: #333333; FONT-SIZE: 12px
}
.btn-b-log {
	BACKGROUND-IMAGE: url(../images/btn_blue.jpg); BORDER-BOTTOM: #7faaff 1px ridge; BORDER-LEFT: #7faaff 1px ridge; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND-REPEAT: repeat-x; MARGIN-BOTTOM: 8px; COLOR: #253a68; FONT-SIZE: 12px; BORDER-TOP: #7faaff 1px ridge; CURSOR: hand; BORDER-RIGHT: #7faaff 1px ridge; PADDING-TOP: 2px
}
.text-log {
	TEXT-ALIGN: justify; PADDING-BOTTOM: 6px; LINE-HEIGHT: 140%; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: top
}
.tab-tfoot2 {
	TEXT-ALIGN: right; PADDING-BOTTOM: 4px; BACKGROUND-COLOR: #fff4f2; PADDING-RIGHT: 8px; HEIGHT: 32px; VERTICAL-ALIGN: middle; BORDER-TOP: #eb9b93 1px solid; PADDING-TOP: 5px
}
.tab-th2 {
	BACKGROUND-IMAGE: url(../images/th2.jpg); TEXT-ALIGN: center; LETTER-SPACING: 1px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; BACKGROUND-POSITION: left top; HEIGHT: 22px; COLOR: #333333; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: normal; PADDING-TOP: 4px
}
.tab-td3 {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #fff4f2; PADDING-LEFT: 4px; HEIGHT: 22px; COLOR: #333333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px
}
.menu-foot {
	BACKGROUND-IMAGE: url(../images/menu_bg.jpg); BACKGROUND-COLOR: #a7ccf9; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top
}
.menu-li2 {
	LIST-STYLE-POSITION: inside; LINE-HEIGHT: 17px; FLOAT: none; COLOR: #334d97; MARGIN-LEFT: 0px; CLEAR: none; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; LIST-STYLE-IMAGE: url(../images/arrow_li.gif)
}
.text2 {
	PADDING-RIGHT: 12px; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.quickbg {
	BACKGROUND-IMAGE: url(../images/quickway_link.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: right top
}
.bgimg-user {
	BACKGROUND-IMAGE: url(../images/login_bg_shan.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center bottom
}
.loginbg1-user {
	POSITION: relative
}
.login-info {
	POSITION: absolute; WIDTH: 415px; RIGHT: 47px; TOP: 60px
}
.login-info A {
	COLOR: #0c4387; TEXT-DECORATION: none
}
.login-info A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.body-bg-user {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/login_bg2_user.gif) #b6dcf9 repeat-x left top; OVERFLOW: hidden; PADDING-TOP: 0px
}
.bg-mainimg {
	BACKGROUND: url(../images/login_bgimag_user_sn.gif) no-repeat left top
}
.login-fix-1 {
	POSITION: relative
}
.login-fix-2 {
	TEXT-ALIGN: right; WIDTH: 546px; HEIGHT: 85px; VERTICAL-ALIGN: top
}
.text-log-ad {
	LIST-STYLE-POSITION: outside; POSITION: absolute; LIST-STYLE-TYPE: decimal; MARGIN-TOP: 212px; PADDING-LEFT: 22px; WIDTH: 290px; COLOR: #484848; MARGIN-LEFT: 87px; FONT-SIZE: 12px
}
.text-log-ad LI {
	PADDING-BOTTOM: 4px; LINE-HEIGHT: 17px
}
.body-bg-admin {
	BACKGROUND-IMAGE: url(../images/login_bg_admin.jpg); WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: center 50%; HEIGHT: 100%
}
.bgimg-admin {
	BACKGROUND-IMAGE: url(../images/login_bgimag_admin2.jpg); POSITION: absolute; MARGIN-TOP: -223px; WIDTH: 710px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 447px; MARGIN-LEFT: -355px; TOP: 50%; LEFT: 50%
}
.top-bgimg {
	BACKGROUND-IMAGE: url(../images/Home_mod_top.jpg); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top
}
.menu-toptit {
	BACKGROUND-IMAGE: url(../images/menu_toptit.jpg); PADDING-LEFT: 40px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 27px; COLOR: #2e4b85; FONT-SIZE: 12px; PADDING-TOP: 1px
}
#menu_item {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#menu_item LI {
	BACKGROUND-IMAGE: url(../images/menu_item_bg.jpg); PADDING-LEFT: 40px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 28px; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 9px
}
#menu_item A:link {
	COLOR: #333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#menu_item A:visited {
	COLOR: #333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#menu_item A:hover {
	COLOR: #123ea2; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
#menu_item A:active {
	COLOR: #123ea2; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
#menu_item LI.menu_item_b {
	BACKGROUND-IMAGE: url(../images/menu_itembg_h.jpg); PADDING-LEFT: 40px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 28px; FONT-SIZE: 12px; PADDING-TOP: 9px
}
#menu_item LI.menu_item_b A:link {
	COLOR: #2e4b85; TEXT-DECORATION: none
}
#menu_item LI.menu_item_b A:visited {
	COLOR: #2e4b85; TEXT-DECORATION: none
}
#menu_item LI.menu_item_b A:hover {
	COLOR: #2e4b85; TEXT-DECORATION: none
}
#menu_item LI.menu_item_b A:active {
	COLOR: #2e4b85; TEXT-DECORATION: none
}
#menu_item UL.submenu_item {
	LIST-STYLE-TYPE: none; MARGIN-LEFT: -38px; PADDING-TOP: 7px
}
#menu_item UL.submenu_item LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; MARGIN: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/submenubg_mid.jpg) no-repeat center bottom; HEIGHT: 22px; PADDING-TOP: 0px
}
#menu_item UL.submenu_item LI.submenu_end {
	PADDING-BOTTOM: 1px; BACKGROUND: url(../images/submenubg_end.jpg) no-repeat center bottom
}
#menu_item UL.submenu_item LI.submenu_top {
	BACKGROUND: url(../images/submenubg_top.jpg) no-repeat center top; PADDING-TOP: 4px
}
#menu_foot {
	BACKGROUND-IMAGE: url(../images/menu_bg.jpg); BACKGROUND-COLOR: #a7ccf9; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center top; HEIGHT: 100%
}
.succe-top {
	BACKGROUND-IMAGE: url(../images/succeed_bg.jpg); PADDING-BOTTOM: 15px; LINE-HEIGHT: 160%; PADDING-LEFT: 160px; WIDTH: 520px; PADDING-RIGHT: 30px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; HEIGHT: 173px; COLOR: #ff0000; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 70px
}
.menu-tab {
	WIDTH: 174px; BORDER-COLLAPSE: collapse; HEIGHT: 100%
}
.menu-tab TD {
	BACKGROUND-IMAGE: url(../images/menu_item_bg.jpg); LINE-HEIGHT: 28px; PADDING-LEFT: 40px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; COLOR: #333333; FONT-SIZE: 12px
}
.error-td2 {
	LINE-HEIGHT: 18px; COLOR: #333; FONT-SIZE: 12px
}
#text-success {
	BORDER-BOTTOM: #d7e8fd 7px solid; POSITION: relative; BORDER-LEFT: #d7e8fd 7px solid; PADDING-BOTTOM: 0px; MARGIN-TOP: 80px; PADDING-LEFT: 0px; WIDTH: 500px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 80px; HEIGHT: 80px; BORDER-TOP: #d7e8fd 7px solid; BORDER-RIGHT: #d7e8fd 7px solid; PADDING-TOP: 0px
}
.suc-content {
	BACKGROUND-IMAGE: url(../images/succeed_logo.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 15px; LINE-HEIGHT: 120%; PADDING-LEFT: 120px; WIDTH: 480px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "????"; BACKGROUND-POSITION: left top; HEIGHT: 120px; COLOR: #ee0303; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 40px
}
.error-content {
	BACKGROUND-IMAGE: url(../images/error_logo.gif); TEXT-ALIGN: left; PADDING-BOTTOM: 15px; LINE-HEIGHT: 150%; PADDING-LEFT: 120px; WIDTH: 480px; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: "????"; BACKGROUND-POSITION: left top; HEIGHT: 120px; COLOR: #ee0303; FONT-SIZE: 14px; VERTICAL-ALIGN: top; WORD-BREAK: break-all; FONT-WEIGHT: bold; PADDING-TOP: 50px
}
#succe-end {
	PADDING-BOTTOM: 30px; PADDING-LEFT: 20px; WIDTH: 200px; HEIGHT: 30px; PADDING-TOP: 60px
}
#error-end {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; WIDTH: 200px; HEIGHT: 30px; PADDING-TOP: 20px
}
.error_intro {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; WIDTH: 500px; PADDING-RIGHT: 10px; HEIGHT: 30px; PADDING-TOP: 5px
}
