A {
	COLOR: #000000; TEXT-DECORATION: none
}
FONT {
	LINE-HEIGHT: normal
}
TD {
	LINE-HEIGHT: 15px; FONT-FAMILY: Tahoma; FONT-SIZE: 12px
}
TH {
	BACKGROUND-IMAGE: url(./bg1.gif); BACKGROUND-COLOR: #4455aa; HEIGHT: 25px; COLOR: white; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
TH A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TH A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
TD.TableTitle1 {
	BACKGROUND-COLOR: #6595d6; COLOR: #ffffff
}
TD.TableTitle2 {
	BACKGROUND-COLOR: #e4e8ef
}
TD.TableBody1 {
	LINE-HEIGHT: normal; BACKGROUND-COLOR: #ffffff
}
TD.TableBody2 {
	LINE-HEIGHT: normal; BACKGROUND-COLOR: #e4e8ef
}
TD.TableBody3 {
	BACKGROUND-COLOR: #6595d6
}
TD.TopDarkNav {
	BACKGROUND-IMAGE: url(./topbg.gif)
}
TD.TopLighNav {
	BACKGROUND-IMAGE: url(./bottombg.gif)
}
TD.TopLighNav1 {
	BACKGROUND-IMAGE: url(./tabs_m_tile.gif)
}
TD.TopLighNav2 {
	BACKGROUND-COLOR: #ffffff
}
.tableBorder1 {
	BORDER-BOTTOM: 1px; BORDER-LEFT: 1px; BACKGROUND-COLOR: #6595d6; WIDTH: 98%; BORDER-TOP: 1px; BORDER-RIGHT: 1px
}
.tableBorder2 {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; BACKGROUND-COLOR: #efefef; WIDTH: 98%; BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid
}
.tableBorder3 {
	BORDER-BOTTOM: #6595d6 0px solid; BORDER-LEFT: #6595d6 1px solid; BACKGROUND-COLOR: #efefef; WIDTH: 98%; BORDER-TOP: 0px; BORDER-RIGHT: #6595d6 1px solid
}
.tableBorder4 {
	BORDER-BOTTOM: #6595d6 1px solid; BORDER-LEFT: #6595d6 1px solid; WIDTH: 98%; BORDER-TOP: #6595d6 1px solid; BORDER-RIGHT: #6595d6 1px solid
}
.tableBorder5 {
	BORDER-BOTTOM: #6595d6 1px solid; BORDER-LEFT: #6595d6 1px solid; BACKGROUND-COLOR: #d6e0ef; BORDER-TOP: #6595d6 1px solid; BORDER-RIGHT: #6595d6 1px solid
}
.singleborder {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; BACKGROUND-COLOR: #6595d6; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 0px; PADDING-TOP: 0px
}
