<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<!-- 
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	-->
	<taglib>
		<taglib-uri>/tags/c.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/fmt.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/fmt.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/fn.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/fn.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/sql.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/sql.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/tags/x.tld</taglib-uri>
		<taglib-location>/WEB-INF/tlds/x.tld</taglib-location>
	</taglib>
	<welcome-file-list>
		<welcome-file>login3.jsp</welcome-file>
	</welcome-file-list>
</web-app>
