A:active {
	COLOR: #000000;
	TEXT-DECORATION: none;
}

A {
	COLOR: #000000;
	TEXT-DECORATION: none;
}

A:hover {
	COLOR: #000000;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #000000;
	TEXT-DECORATION: none;
}
