<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="websiteDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.WebsiteDAOImpl"/>
	<bean id="articleDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.ArticleDAOImpl"/>
	<bean id="articleDocDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.ArticleDocDAOImpl"/>
	<bean id="imageDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.ImageDAOImpl"/>
	<bean id="pictureFileDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.PictureFileDAOImpl"/>
	<bean id="imageFileDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.ImageFileDAOImpl"/>
	<bean id="chartDAO"  parent="baseDAO" class="com.ssi.common.dal.dao.impl.ChartDAOImpl"/>
	
	
	<bean id="earthQuakeInfoDAO"    parent="baseDAO" class="com.ssi.dal.usgs.dao.impl.EarthQuakeInfoDAOImpl"/>
	<bean id="earthQuakeDetailDAO"  parent="baseDAO" class="com.ssi.dal.usgs.dao.impl.EarthQuakeDetailDAOImpl"/>
	<bean id="earthQuakeRegionDAO"  parent="baseDAO" class="com.ssi.dal.usgs.dao.impl.EarthRegionDAOImpl"/>
</beans>