<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
          "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="chartService"  class="com.ssi.web.services.impl.ChartServiceImpl">
		<property name="chartDao" ref="chartDAO" />
	</bean>
	
	<bean id="websiteService"  class="com.ssi.web.services.impl.WebsiteServiceImpl">
		<property name="websiteDao" ref="websiteDAO" />
	</bean>
</beans>